.post-show-container {
    max-width: 50%;
}

.dummy-push {
    margin-top: 70px !important;
}
.btn-lightGray {
    /* background-color: rgba(211, 211, 211, 0.445); */
    color: gray;
}
.btn-lightGray:hover {
    background-color: rgba(211, 211, 211, 0.315);
}

.btn-lightGray:focus {
    background-color: rgba(211, 211, 211, 0.445);
    outline: none !important;
    box-shadow: none;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
}

.fnt-size-15 {
    font-size: 15px;
}

.btn-n-sm {
    padding: 7px 10px;
    border-radius: 25px;
    text-align: center;
}
.btn-n-sm:hover {
    background-color: rgba(211, 211, 211, 0.39);
}

.btn-n-sm:focus {
    background-color: rgba(211, 211, 211, 0.445);
    outline: none !important;
    box-shadow: none;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

.hw-100h {
    width: 100vw;
    height: 90vh;
}
.bg-lightGray {
    background-color: rgba(211, 211, 211, 0.315);
}

.dropleft .dropdown-toggle::before {
    display: none;
}

.stick {
    height: 100%;
    width: 230px;
    margin-top: -10px;
}


@media screen and (max-width: 895px) {
    .post-show-container {
        max-width: 90%;
    }
}
