.post-show-container {
    max-width: 50%;
}

.dummy-push {
    margin-top: 70px !important;
}
.btn-lightGray {
    /* background-color: rgba(211, 211, 211, 0.445); */
    color: gray;
}
.btn-lightGray:hover {
    background-color: rgba(211, 211, 211, 0.315);
}

.btn-lightGray:focus {
    background-color: rgba(211, 211, 211, 0.445);
    outline: none !important;
    box-shadow: none;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
}

.fnt-size-15 {
    font-size: 15px;
}

.btn-n-sm {
    padding: 7px 10px;
    border-radius: 25px;
    text-align: center;
}
.btn-n-sm:hover {
    background-color: rgba(211, 211, 211, 0.39);
}

.btn-n-sm:focus {
    background-color: rgba(211, 211, 211, 0.445);
    outline: none !important;
    box-shadow: none;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

.hw-100h {
    width: 100vw;
    height: 90vh;
}
.bg-lightGray {
    background-color: rgba(211, 211, 211, 0.315);
}

.dropleft .dropdown-toggle::before {
    display: none;
}

.stick {
    height: 100vh;
    width: 230px;
    margin-top: -10px;
    font-size: 1.2em;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link > a {
    color: #fff !important;
}

.no-txt-inherit {
    font-size: revert;
    line-height: 150%;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    width: 230px;
    margin-top: -10px;
    font-size: 1.2em;
    height: 100vh;
}
.list-group > a {
    background-color: #f8f9fa;
    border: 0;
}

.list-group > a:hover {
    /* background-color: rgba(211, 211, 211, 0.315); */
    border: 0;
}

.suggest-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-user-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.upload-input{
    width: 500px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 895px) {
    .post-show-container {
        max-width: 90%;
    }
}
